<form action="/edit" method="POST" enctype="multipart/form-data">
	<label class="btn btn-default btn-file">
		Upload File <input type="file" name="myFile" class="hidden">
	</label>
		<input type="submit" class="btn btn-primary">
</form>


<div>


<img src='https://res.cloudinary.com/ttmuangkeo/image/upload/v1494004612/<%=user.avatar%>.jpg' alt="">

</div>