<h1 class='text-center'>EVENTS</h1>



<div class='container-fluid'>
	<div class='row'>
		<h1 class='text-center'>Recent Events</h1>
		<div class='col-md-3'>
			<h2>Event description</h2>
			<p>Events description displayed here if clicked on pin</p>
			<p>if the user creates an event.</p> 
			<p> --res.render-- to this page</p>
		</div>
		<div class='col-md-9'>
			<div id='map'></div>
		</div>

		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr2pTOmH22vv8f6gv_zyPqPMgDLSet9k4&callback=initMap">
	</script>

	<script src="/script.js"></script>