<h1>events page</h1>
<p>google map will be displayed here and all the events users created</p>


<div class='row'>
<div class='col-md-6'>
<div id='map'></div>
</div>
</div>



<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr2pTOmH22vv8f6gv_zyPqPMgDLSet9k4&callback=initMap">
</script>

<script src="/script.js"></script>