 <div class="container-fluid">
 	<div class="row parallax">
 		<div class="col-md-12">
 			<h1 class="text-center title animated fadeInDown deep-orange-text"><strong>EVENTUROUS</strong></h1>
 		</div>
 	</div>
 </div>
 
 

 <div class="container-fluid black">
 	<div class="row">
 		<div class="col-md-6">
 			<form action='/auth/login' method='GET' role=form class="text-center">
 				<button type='submit' class='btn btn-deep-orange btn-block animated zoomInLeft'><strong class="display2">LOGIN</strong></button>
 			</form>
 		</div>
 		<div class="col-md-6">
 			<form action='/auth/signup' method='GET' role=form class="text-center">
 				<button type='submit' class='btn btn-deep-orange btn-block animated zoomInRight'><strong class="display2">SIGN UP</strong></button>
 			</form>
 		</div>
 	</div>
 </div>

<div class="container-fluid black">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center white-text sub-text"><em>Let people in your area know what's happening around them by creating</em><strong class="deep-orange-text"> Events</strong></h1>
		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row">
	<div class="parallax2"></div>
</div>
</div>

 <div class="container-fluid black">
 	<div class="row height">
 		<div class="col-md-4">
 			<h1 class="text-center deep-orange-text"><strong>Have nothing to do?</strong></h1>
 			 <br> <hr>
 			<h2 class="text-center white-text"><em>Look for <strong class="deep-orange-text">Events</strong> nearby to see what's going on near you!</em></h2>
 		</div>
 		<div class="col-md-4">
 			<div id="map-container" class="card z-index-1"></div>
 		</div>
 		<div class="col-md-4">
 			
 			<h1 class="text-center"><strong class="deep-orange-text">Eventurous</strong></h1>
 			 <br> <hr>
 			 <h2 class="text-center white-text"><em>Will populate the map with celebrity sightings, out of the ordinary activities and much more!</em></h2>
 		</div>
 	</div>
 </div>


	
