	<ol class="breadcrumb text-center">
  <li><a href="/events">Events</a></li>
</ol>


	<div class="homepage-hero-module">
				<div class="video-container">
					<div class="filter"></div>
					<video autoplay loop class="fillWidth">

						<source src="/video/flow.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
						
						<source src="/video/flow.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
					</video>
					<div class="poster hidden">
						<img src="/video/flow.jpg" alt="">
					</div>
					<div class='row align-items-center'>
						<div class='col'>
		<h1 class='text-center'>TITLE OF WEB GOES HERE</h1>

							<div class='col-md-5 col-md-offset-1'>
								<form action='/auth/login' method='GET' role=form>
									<button type='submit' class='btn btn-primary btn-block homebtn'>Login</button>
								</form>
							</div>

							<div class='col-md-5'>
								<form action='/auth/signup' method='GET' role=form>
									<button type='submit' class=' btn btn-primary btn-block homebtn'>Sign up</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>









