    <!doctype html>
    <html>
    <head>
        <title>Eventurous</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/video/style.css">
        <script src='/video/video.js'></script>

    </head>
    <body>

        <% include partials/alerts %>
        <%-body%>
        <hr>


  <footer>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="https://www.google.com/policies/terms/">Terms of Service</a> | <a href="https://www.google.com/policies/privacy/">Privacy</a>    
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2017 Eventurous. All rights reserved</p>
      </div>
    </div>
</footer>


    
    </body>
    </html>




