    <!doctype html>
    <html>
    <head>
        <title>Eventurous</title>
        <!-- Latest compiled and minified CSS & JS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/animate.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="/MDB/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="/MDB/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="/MDB/css/style.css" rel="stylesheet">
    </head>
    <body>

        <% include partials/alerts %>
        <%-body%>
        <footer>
            <div class="col-lg-12 black">
              <div class="col-md-8">
                <a href="https://www.google.com/policies/terms/">Terms of Service</a> | <a href="https://www.google.com/policies/privacy/">Privacy</a>    
            </div>
            <div class="col-md-4">
                <p class="muted pull-right white-text">© 2017 Eventurous. All rights reserved</p>
            </div>
        </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

    
    <script src="/script.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr2pTOmH22vv8f6gv_zyPqPMgDLSet9k4&callback=initMap"
    >
</script>


<script type="text/javascript" src="/MDB/js/jquery-3.1.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/MDB/js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/MDB/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/MDB/js/mdb.min.js"></script>

</body>
</html>




