<h1 class='text-center'> profile </h1>

<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-3'>
			<h4>user's profile</h4>
			<p>picture will go here</p>
			<p>bio</p>
		</div>
	</div>
</div>






<a href="/auth/logout" class='btn btn-lg'>log out</a>
