.parallax {
    background-image: url('../image/homebg.jpg');
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../image/example1.jpg");
    /* Set a specific height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("../image/signupbg.jpg");
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 10em;
    margin: 150px;
    text-shadow: 5px 5px darkred;
}

.display1 {
    font-size: 40pt;
    text-shadow: 5px 10px darkred;
}

#map-container {
    width: 100%;
    height: 800px;
}

.display2 {
    font-size: 15pt;
    text-shadow: 5px 5px darkred;
}

.sub-text {
    padding: 150px;
    font-size: 3em;
}

.signup-title {
    font-size: 5em;
}

.signup-border {
    border: 5px solid darkorange;
    box-shadow: 5px 5px darkred;
}

.login-title {
    font-size: 5em;
    text-shadow: 5px 5px darkred;
}

.responsive {
    height: 500px;
}

.overflow {
    width: 100%;
    height: 800px;
    overflow: scroll;
}

.overflow-hori {
    width: 100%;
    height: 600px;
    overflow-x: auto;
}
@media screen and (max-width: 1080px) {
    .title {
        font-size: 7em;
        margin: 100px;
        text-shadow: 5px 5px darkred;
    }
    .sub-text {
        padding: 100px;
        font-size: 4em;
    }
    .responsive {
        height: 300px;
    }
    .signup-border {
    border: 2px solid darkorange;
    box-shadow: 2px 2px darkred;
}
#map-container {
    width: 1080px;
    height: 450px;
}
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 5em;
        margin: 100px;
        text-shadow: 5px 5px darkred;
    }
    .sub-text {
        padding: 100px;
        font-size: 3em;
    }
    .responsive {
        height: 300px;
    }
    .signup-border {
    border: 2px solid darkorange;
    box-shadow: 2px 2px darkred;
}
#map-container {
    width: 720px;
    height: 350px;
}
}


@media screen and (max-width: 400px) {
    .title {
        font-size: 2em;
        margin: 50px;
        text-shadow: 5px 5px darkred;
    }
    .sub-text {
        padding: 50px;
        font-size: 2em;
    }
    .responsive {
        height: 300px;
    }
    .signup-border {
    border: 2px solid darkorange;
    box-shadow: 2px 2px darkred;
}
#map-container {
    width: 400px;
    height: 250px;
}


}






