* {
    font-family: 'Kanit', sans-serif;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#map-container {
    height: 500px;
}

#logo {
    letter-spacing: 7px;
    font-size: 23pt;
}
pre {
  height: 50px;
}


.eventName {
    font-size: 15pt;
}

#createbg {
  background-color: rgba(32, 134, 255, 0.5);
}

.homebtn {
    background-color: rgba(245, 245, 245, 0.5);
    height: 100%;
    width: 100%;

}

.loginbg {
    background-image: url(/video/loginbg.jpg);
}

.eventpage {
    background-color: rgba(32, 134, 255, 0.3);
    height: 480px;
    overflow: scroll;
    direction: ltr;
}

.breadcrumb {
    font-weight: bold;
    
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 0px;
    clear: both;
}