#map {
    height: 500px;
}

.eventName {
    font-size: 15pt;
}

.eventDescription {
    display: none;
}

.eventName:hover + .eventDescription {
    display: block;
}

.card {
    display: inline-block;
}

.bg-primary,
.btn {
    /*background-color: rgba(245, 245, 245, 0.4);
*/
}
